@aside-height: ~"100vh - 50px - 5em";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(@aside-height);

  div{
    text-align: center;

    p {

    }

    i{
      font-size: 3em;
    }
  }
}