@aside-height: ~"100vh - 35em";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(@aside-height);

  div{
    margin: 0px auto;

    p {

    }

    i{
      font-size: 3em;
    }
  }
}