@import url(https://fonts.googleapis.com/css?family=Puritan:400,700|Oswald);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);

* {
    font-family: Oswald;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #fafafa;
}