@color: white;
@darker-color: red;
@darkest-color: darkred;

@aside-height: ~"100vh - 5px";
@aside-width: 420px;

aside {
  background-color: #ddd;
  width: @aside-width;
  height: calc(@aside-height);
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 2;
  transition: left 0.5s ease-out;

  &.closed {
    left: -@aside-width;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      display: inline-block;
      width: 100%;
      padding-top: 1em;
      padding-bottom: 1em;

      &:first-child {
        i {

          margin-right: 1em;
          cursor: pointer;

          a {
            text-decoration: none;
            margin-left: 2em;
            color: black;
          }
        }
      }

      &:last-child:hover {
        border: inset 1px;
        box-sizing: border-box;
        background-color: #ccc;
        cursor: pointer;

        -webkit-animation: fill .5s steps(4) infinite;
        -moz-animation:    fill .5s steps(4) infinite;
        -ms-animation:     fill .5s steps(4) infinite;
        animation:         fill .5s steps(4) infinite;
      }

      span{
        margin-left: 2em;
        vertical-align: middle;
        line-height: 30px;
        cursor: pointer;
      }

      label{


      }
    }
  }

}

@-webkit-keyframes fill {
  0% {
    background-color: @color;
  }
  50% {
    background-color: @darker-color;
  }
  100% {
    background-color: @darkest-color;
  }
}

@-moz-keyframes fill {
  0% {
    background-color: @color;
  }
  50% {
    background-color: @darker-color;
  }
  100% {
    background-color: @darkest-color;
  }
}

@-ms-keyframes fill {
  0% {
    background-color: @color;
  }
  50% {
    background-color: @darker-color;
  }
  100% {
    background-color: @darkest-color;
  }
}

@-o-keyframes fill {
  0% {
    background-color: @color;
  }
  50% {
    background-color: @darker-color;
  }
  100% {
    background-color: @darkest-color;
  }
}

@keyframes fill {
  0% {
    background-color: @color;
  }
  50% {
    background-color: @darker-color;
  }
  100% {
    background-color: @darkest-color;
  }
}


