<template name="send-invite">
    <h1>A friend has invited you to play chess</h1>
    <p>
        <span>To accept this invitation, click</span>
        <a href="{{urlWithToken}}" title="invitation">here</a>
        <span>, or you can visit chess.com and include the token {{token}} in your registration.</span>
    </p>
</template>