#board
{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 336px;
    height: 336px;
}

.square:nth-child(even){

}

.square:nth-child(odd){

}

.square:nth-child(8n){

}

.square {
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.square:hover {
    border: inset 1px rgba(255,255,255,1);
}

.square.dark{
    background: #000000;
}

.square.light {
    background: #ff0000;
}