@dark: #64494D;
@light: #C8B08F;
@showTurn: green;
@showMoves: blue;

@tile: 42px;

#board {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 336px;
    height: 336px;

    transform: rotate(0deg);
    transition: all 2.5s;

    .square {
        width: @tile;
        height: @tile;
        color: white;
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;

        &:hover {
            border: inset 1px rgba(255, 255, 255, 1);
        }

        &:nth-child(even) {

        }

        &:nth-child(odd) {

        }

        &:nth-child(8n) {

        }

        &.dark {
            background: @dark;
        }

        &.light {
            background: @light;
        }

        &.selected {
            color: red;
        }

        span {
            display: block;

            &.empty{
                color: transparent;
            }
            &.can-select {
                cursor: pointer;
            }
            &.player-two{
                transform: rotate(180deg);
            }
        }
    }
}

#board.showTurn {
    &.light {
        div[id^="1"] {
            &.light {
                background: linear-gradient(to bottom, @light, @showTurn);
            }

            &.dark {
                background: linear-gradient(to bottom, @dark, @showTurn);
            }
        }
    }

    &.dark {
        div[id^="8"] {
            &.light {
                background: linear-gradient(to bottom, @showTurn, @light);
            }

            &.dark {
                background: linear-gradient(to bottom, @showTurn, @dark);
            }
        }
    }
}

#board.showMoves {
    .square.valid {
        border: inset;
        border-color: @showMoves;
        border-width: 1px;
        cursor: pointer;
    }
}

#board.showCoordinates {
    .square {
        &:nth-child(8n) {

            &:before {
                content: attr(data-row);
                position: absolute;
                height: @tile;
                width: @tile;
                margin-left: @tile;
                color: black;
                text-transform: uppercase;
            }
        }

        &[id^="1"]:after {
            content: attr(data-column);
            color: black;
            font-size: 1.2em;
            text-transform: uppercase;
        }
    }
}

#board.rotated {
    transform: rotate(180deg);

    &.showCoordinates .square {
        &:nth-child(8n):before {
            color: transparent;
        }

        &[id^="1"]:after {
            color: transparent;
        }

        &:nth-child(8n + 8) {
            &:before {
                content: attr(data-row);
                position: absolute;
                height: @tile;
                width: @tile;
                margin-left: @tile;
                color: black;
                text-transform: uppercase;
                transform: rotate(180deg);
            }
        }

        &[id^="8"]:after {
            content: attr(data-column);
            position: absolute;
            top: -@tile;
            margin-top: -10px;
            margin-left: -10px;
            color: black;
            font-size: 1.2em;
            text-transform: uppercase;
            transform: rotate(180deg);
        }
    }
}

#board.black-white{
    .square {
        &.light{
            background-color: white;

            span:not(.empty){
                color: black;
            }
        }
        &.dark {
            background-color: black;
        }
    }

    &.showTurn {
        &.light .square[id^="1"] {
            &.light {
                background: linear-gradient(to bottom, white, @showTurn);
            }

            &.dark {
                background: linear-gradient(to bottom, black, @showTurn);
            }
        }

        &.dark .square[id^="8"] {
            &.light {
                background: linear-gradient(to bottom, @showTurn, white);
            }

            &.dark {
                background: linear-gradient(to bottom, @showTurn, black);
            }
        }
    }
}

#board.red-white{
    .square {
        &.light{
            background-color: white;
        }
        &.dark {
            background-color: red;
        }
        span:not(.empty){
            color: black;
        }
    }

    &.showTurn {
        &.light .square[id^="1"] {
            &.light {
                background: linear-gradient(to bottom, white, @showTurn);
            }

            &.dark {
                background: linear-gradient(to bottom, red, @showTurn);
            }
        }

        &.dark .square[id^="8"] {
            &.light {
                background: linear-gradient(to bottom, @showTurn, white);
            }

            &.dark {
                background: linear-gradient(to bottom, @showTurn, red);
            }
        }
    }
}