#leaderboard {
  list-style: none;
  padding: 0;
  width: 336px;
  margin: 0px auto;
  border: 1px solid #000000;

  li{
    color: green;

    &:first-child {
      color: blue;

      span {

      }
    }

    span {

      &:last-child {
        float: right;

      }
    }
  }


}