@center: ~"50% - 113px";
@knight: ~"200px - 5em";

@sign-up-height: 200px;

#signup-form, #signin-form, #signout-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 300px;

  input {
    margin-bottom: 0.75em;
    &[name="email"]{
    }

    &[name="password"]{
    }

    &[name="token"]{
    }
  }

  a {
    width: 100%;
  }

  p {

    a {
     display: block;
     width: 100%;
     background-color: transparent;
     text-decoration: none;
    }
  }
}

