@center: ~"50% - 125px";

#signup-form {

  #login-buttons {
    display: block;
    position: relative;
    height: 245px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .login-link-and-dropdown-list, .login-form-sign-in{
    text-align: center;
  }

  #login-dropdown-list {
    left: calc(@center) !important;
  }

  .login-close-text {
    float: none;
  }

  .login-form, .login-button{
    margin-top: 1em;
  }

}